body{
    background-image: url(./assets/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#page{
    box-sizing: border-box;
    width: 800px;
    padding: 24px;
    background-color: #F0E8c2;
    border-radius: 20px;
    margin: 48px auto;
}

img{
    border-radius: 16px;
}